html {
    box-sizing: border-box;
    scroll-behavior:smooth;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:2;
  }
  
   /* Header Section */
  
  #nav-bar{
    background-color:black;
    width:100%;
    color:white;
    font-family:verdana;
    font-size:1.5em;
    padding-left:3%;  
  }
  
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .nav-link{
    text-decoration:none;
    text-align:left;
    float:left;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:0.8em;
    width:18vh;
    height:60px;
    padding:2vh 0vh 2vh 0vh;
    margin-left:0vh;
  }
  
  #menu:hover{
    background-color:orange;
    color:black;
  }
  
  #menu1{
    padding-left:0vh;
    margin-left:0vh;
  }
  
  #header img{
    margin-left:2vh;
    margin-right:2vh;
    float:left;
    width:60px;
    height:60px;
  }
  
   /* Body */
  
  body{
    background-color:black;
    margin:0 auto;
  }
  
   /* Hero Section */
  
  #hero{
    display:flex;
    flex-direction:row;
    align-items:left;
    height:100vh;
    width:100%;
    font-family:verdana;
    color:white;
    position:relative;
    background-color:black;
    margin:auto;
    padding-top:25vh;
    padding-left:4%;
    padding-right:4%;
  }
  
  #hero::before{
    background-image:url("https://imgur.com/3dDKIE7.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    min-height:100%;
    content:'';
    opacity:18%;
    background-color:black;
    height:50vh;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
  }
  
  #hero-text{
    display:flex;
    flex-direction:column;
    width:60%;
    padding-top:20vh;
  }
  
  #hero-title{
    margin-top:5%;
    width:80%;
    font-size:3.5em;
  }
  
  #hero-text p{
    font-size:1.5em;
    font-family:verdana;
    font-weight:700;
    bottom:7vh;
  }
  
  #hero-img-section{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    width:40%;
  }
  
  #hero-img{
    width:50vh;
    height:50vh;
    position:relative;
    right:15vh;
    bottom:20vh;
    margin-top:100px;
    border-radius:20px;
    filter: brightness(70%)
  }
  
  #hero-img2{
    width:50vh;
    height:50vh;
    position:relative;
    margin-top:100px;
    border-radius:20px;
    filter: brightness(70%);
    left:20vh;
    bottom:60vh;
  }
  
  #hero-img3{
    width:50vh;
    height:50vh;
    margin-top:100px;
    border-radius:20px;
    filter: brightness(70%);
    display:none;
  }
  
   /* Products Section */
  
  
  #products{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:80vh;
    background-color:#343A38;
    color:#C18256;
    padding-top:3%;
  }
  
  #products h1{
    font-size:3em;
    text-align:center;
    font-family:verdana;
    }
  
  #video-div{
     display:flex;
     align-items:center;
     justify-content:center;
     height:100%;
     width:60%;
     margin-bottom:6vh;
    }
  
   /* Pricing Section */
  
  #pricing{
     display:flex;
     flex-direction:column;
     align-items:center;
     justify-content:center;
     background-color:#1B1816;
     color:#BA7D52;
     font-family:verdana;
     padding-top:5%;
  }
  #pricing h1{
     font-size:3em;
     text-align:center;
    }
  
  #pricing-images{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    gap: 3%;
    flex-direction:row;
    flex-wrap:wrap;
    margin:5% auto;
  }
  
  #pricing-images div{
    text-align:center;
  }
  
  #pricing-img{
    width:40vh;
    height:40vh;
  }
  
  #accent{
    color:#6D8C93;
  }
  
   /* Contact Section */
  
  #contact{
     display:flex;
     flex-direction:column;
     align-items:center;
     justify-content:flex-start;
     background-color:#343A38;
     color:#BA7D52;
     font-family:verdana;
     width:100vw;
     height:70vh;
     padding-top:7%;
  }
  
  #contact h1{
     font-size:3em;
     text-align:center;
    }
  
  #form fieldset{
    display:flex;
    flex-direction:column;
    height:100%;
    width:100%;
    border:none;
  }
  
  #form fieldset{
    padding:20px 0 0 0;
    font-size:1em;
  }
  
  #form fieldset label{
    margin-top:20px;
  }
  
  #email, #user-textbox{
    width:40vh;
    height:60px;
    display:flex;
    margin-top:20px;
    border-radius:10px;
  }
  
  .submit{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:20px;
  
  }
  
  #submit{
    border-radius:20px;
    width:40vh;
    height:35px;
    color:#BA7D52;
    background-color:#1B1816;
    border:none;
  }
  
  #submit:hover{
    color:white;
    background-color:orange;
    cursor:pointer;
  }
  
   /* Responsiveness */
  
   /* Mobile */
  
  @media only screen and (max-width: 700px) {
  
   /* Nav-bar */
  
  .nav-link{
    float:none;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:0;
    margin:0;
    margin-left:0;
    text-decoration:none;
    text-align:center;
    color:white;
    width:30vh;
    height:60px;
  }
  
   /* Hero */
  
  #hero-img3{
    position:relative;
    display:block; 
    width:30vh;
    height:30vh;
    right:42vh;
    bottom:10vh;
  }
  
  #hero-text{
    display:flex;
    flex-direction:column;
    width:100%;
    padding-top:20vh;
  }
  
  #hero-text p{
    padding-top:15%;
    width:100%;
    font-size:1.4em;
  }
  
  #hero-title{
    margin-top:100px;
    margin-bottom:5%;
    padding-bottom:2%;
    position:relative;
    width:80%;
    font-size:3.0em;
  }
  
   /* Section1 */
  
  
  }
  
  /* Desktop */
  
  @media only screen and (max-width: 1400px) {
  
  #hero-img, #hero-img2{
    display:none !important;
  }
  
  #hero-img3{
    display:block; 
  }
  
  #hero{
    flex-direction:column;
    flex-wrap:wrap;
  }
  
  }